#face-left{
	stroke:white;
//	fill:@gray;
}
#face-front{
	stroke:white;
//	fill:gray;
}
[id^="stand"]{
	stroke:white;
}
#Monitor{
	fill:black;
	animation : screenme 5s ease infinite;
	animation-delay: 5s;
}

#Light-1{
	stroke-width:1px;
	stroke:white;
	animation : fill 5s ease-in infinite;
	fill:transparant;
}

#Light-2{
	stroke-width:1px;
	stroke:white;
	animation : fillMe 5s ease-in infinite;
	fill:transparant;
}

#black-face{
//	animation: fill .5s linear infinite;

}
#Button{
	stroke-width: 1px;
	stroke:white;
	fill:white;
}
#button-outer{
	position: absolute;

	stroke: white;
	box-shadow: 1 1 5px black;
	animation: scaling .5s ease infinite;
}



@keyframes fillMe {
	0% {
		fill: white;
	}
	25% {
			fill: none;
		}
	50% {
			fill: white;
		}
	75% {
			fill: none;
		}
	100% {
			fill: white;
		}

}

@keyframes screenme {
	0% {
		fill: none;
	}

	100% {
			fill: white;
		}
}
@keyframes fill {
	0% {
		fill: none;
	}
	25% {
			fill: white;
		}
	50% {
			fill: none;
		}
	75% {
			fill: white;
		}
	100% {
			fill: none;
		}

}
