//
// Theme-Variables
// --------------------------------------------------


//== Colors
//
@theme-white:#fff;
@theme-orange: #f39c12;
@theme-green: #27ae60;
@theme-red : #e74c3c;

@theme-pink:#F2385A;
@theme-yellow:#F5A503;
@theme-ice-light:#E9F1DF;
@theme-azure:#4AD9D9;
@theme-blue:#36B1BF;