.wrapper {
	padding-top: (@padding-base-vertical*2);
	padding-bottom: (@padding-base-vertical*2);

}

.wrapper-pink {
	background-color: @theme-pink;
	text-shadow: 0 0 6px rgba(100, 100, 100, .6);
	color: white;

}

.wrapper-ice-light {
	background-color: @theme-ice-light;

}

.wrapper-blue {
	background-color: @theme-blue;
}

.wrapper-azure {
	color: white;
	text-shadow: 0 0 6px rgba(100, 100, 100, .6);
	background-color: @theme-azure;
}

.wrapper-yellow {
	background-color: @theme-yellow;
	> p {
		color: white;
	}
}

.box-default {
	background: white;
	box-shadow: 0 1px 2px black;
	padding-left: @padding-base-horizontal;
	padding-right: @padding-base-horizontal;
	//	margin-bottom: @outer-margin;
	> h3 {
		padding-top: 0;
	}
}

.text-green {
	color: @brand-success;
}

.text-gray {
	color: rgb(200, 200, 200);
}

.text-white {
	color: white;
}

.box-default-a {
	background: rgba(230, 230, 230, 1);
}

.img-grid {
	.list-unstyled;

	> li {
		width: 50%;
		float: left;
		img {
			padding: 10px;
		}

		//display: table-cell;
	}
}

.panel {
	> .panel-body > h3 {
		margin-top: 0;

		&.center-heading{
			color: @theme-blue;
			border-bottom: @theme-blue dotted 2px;
			padding-bottom:@padding-base-vertical;
			text-align: center;
		}
	}
}

.btn-green {
	.button-variant(@btn-danger-color; @theme-blue; darken(@theme-green, 10%));
}

.btn-ice-light {
	.button-variant(@theme-ice-light; @theme-ice-light; darken(@theme-ice-light, 10%));
}

.btn-azure {
	.button-variant(white; @theme-azure; darken(@theme-azure, 1%));
}

.btn-yellow {
	.button-variant(white; @theme-yellow; darken(@theme-yellow, 1%));
}

.btn {
	border-radius: 0;
}

@media only screen and (min-width: 48em) {
	.container {
		width: 58em;
		margin: 0 auto;
	}
}

.container:before {
	display: block;
	content: " ";
	margin-top: -45px;
	height: 45px;
	visibility: hidden;
}