<div class="wrapper wrapper-blue">
    <div class="container" id="contact">
        <div class="row center-md">
            <div class="col-xs-12 col-md-12 text-white">
                <h1>Contact</h1>
                <p>Mocht je vragen hebben, speciale wensen bel of mail gerust.</p>
                <address>
                    Kleinejan.org - Jan Enning<br/>
                    Keizerrijk 44 <br/>
                    1012VM Amsterdam <br/>
                    <a class="text-white" href="callto:+31626106926">+31626106926</a> <br/>
                    <a class="text-white" href="mailto:{{site.email}}">{{site.email}}</a>
                </address>
            </div>


        </div>
    </div>

</div>
