
<footer class="row">
    <!--<div class="col-sm-12">-->
      <!--<address>-->
          <!--<strong>{{ site.title }}</strong><br>-->
          <!--Keizerrijk 44<br>-->
          <!--1078 CB, Amsterdam<br>-->
          <!--The Netherlands<br>-->
          <!--<a href="mailto:{{ site.email }}">{{ site.email }}</a><br>-->
          <!--<i class="fa fa-phone"></i> <a href="callto:+31626106926">+31 62 61 06 926</a>-->
      <!--</address>-->

      <!--<small>{{ site.description }}</small>-->
    <!--</div>-->
</footer>
<script src="/assets/js/production.min.js" type="text/javascript"></script>