<div class="container" id="geschiedenis">
    <div class="row">
        <div class="col-md-12">
            <h1>Geschiedenis</h1>
        </div>
        <div class="col-md-6">
            <h3>2002/2003</h3>
            <p>Zo rond oud en nieuw is er samen met Daan Schaeffer had gewerkt aan een eerste prototype van de photo-o-matic. Onze bestelling van Conrad bevatte relay's, ets plaaten en soldeer tin.</p>
            <p>Nadat de hardware geen kortsluiting had veroorzaakt heeft Genoil (aka: Jan-Willem Penternam) wat C++ codes uit z'n mouw geschud. Hierdoor werd de photo-o-matic leven ingeblazen.</p>
            <p>Het enige wat van deze 1.0 versie is overgebleven: custom relay board en een ets masker. Plus nog wat sterke verhalen.</p>
        </div>
        <div class="col-md-6">
            <img src="/assets/images/voorbeeld.jpg" class="img-responsive img-rounded"/>
        </div>
    </div>
    <div class="row">
           <div class="col-md-12">
               <h1>Geschiedenis</h1>
           </div>
           <div class="col-md-6">
               <h3>2002/2003</h3>
               <p>Zo rond oud en nieuw is er samen met Daan Schaeffer had gewerkt aan een eerste prototype van de photo-o-matic. Onze bestelling van Conrad bevatte relay's, ets plaaten en soldeer tin.</p>
               <p>Nadat de hardware geen kortsluiting had veroorzaakt heeft Genoil (aka: Jan-Willem Penternam) wat C++ codes uit z'n mouw geschud. Hierdoor werd de photo-o-matic leven ingeblazen.</p>
               <p>Het enige wat van deze 1.0 versie is overgebleven: custom relay board en een ets masker. Plus nog wat sterke verhalen.</p>
           </div>
           <div class="col-md-6">
               <img src="/assets/images/voorbeeld.jpg" class="img-responsive img-rounded"/>
           </div>
       </div>
 </div>