<div class="container">
    <div class="row center-md">
        <div class="col-md-12">
            <a href="{{ site.baseurl }}/" class="navbar-brand">{{ site.title }}</a>
          <!-- <ul class="nav navbar-nav">
            {% for page in site.pages  %}
              <li>{% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}</li>
            {% endfor %}
          </ul> -->
        {% include nav.html nav=site.data.menu %}
        </div>
    </div>



</div>
