<div class="jumbotron wrapper wrapper-pink spacer">
    <div class="container">

        <div class="row center-md">
            <div class="col-md-4">

                <svg version="1.1" id="Photo-o-Matic" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                	 y="0px" width="178.301px" height="421.132px" viewBox="0 0 178.301 421.132" enable-background="new 0 0 178.301 421.132"
                	 xml:space="preserve">
                <line id="stand-front-right" fill="none" stroke="#000000" stroke-miterlimit="10" x1="63.978" y1="261.066" x2="83.924" y2="421.132"/>
                <line id="stand-front-left" fill="none" stroke="#000000" stroke-miterlimit="10" x1="0" y1="371.781" x2="18.655" y2="248.494"/>
                <line id="stand-back-left" fill="none" stroke="#000000" stroke-miterlimit="10" x1="97.804" y1="326.759" x2="112.365" y2="248.494"/>
                <line id="stand-back-front" fill="none" stroke="#000000" stroke-miterlimit="10" x1="160.754" y1="234.628" x2="178.301" y2="357.99"/>
                <polygon id="face-left" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                	63.978,261.066 18.655,248.494 18.655,17.464 63.978,5.949 "/>
                <polygon id="face-front" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                	160.754,234.628 63.978,261.41 63.978,5.949 160.754,30.134 "/>
                <path id="Button" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                	M125.578,223.826c0,6.848-3.465,13.289-7.818,14.41c-4.445,1.145-8.115-3.672-8.115-10.777c0-7.104,3.671-13.596,8.115-14.479
                	C122.113,212.117,125.578,216.979,125.578,223.826z"/>
                <polygon id="Monitor" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                	154.197,186.637 73.858,198.667 73.858,115.146 154.197,117.313 "/>
                <path id="Light-1" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                	M117.76,36.432c-11.286-2.409-20.881,10.366-20.881,28.649s9.595,33.74,20.881,34.485c10.72,0.709,19.027-12.249,19.027-28.909
                	S128.481,38.718,117.76,36.432z M118.277,91.156c-8.291-0.548-15.342-11.902-15.342-25.335c0-13.432,7.051-22.815,15.342-21.047
                	c7.877,1.681,13.979,12.903,13.979,25.144S126.154,91.675,118.277,91.156z"/>
                <path id="Black-face" d="M117.633,57.958c-3.504-0.523-6.361,3.564-6.361,9.133c0,5.57,2.857,10.457,6.361,10.914
                	c3.483,0.453,6.288-3.644,6.288-9.146C123.921,63.357,121.116,58.479,117.633,57.958z"/>
                <path id="Light-2" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
                	M118.277,44.774c-8.291-1.769-15.342,7.615-15.342,21.047c0,13.433,7.051,24.787,15.342,25.335
                	c7.877,0.52,13.979-8.998,13.979-21.238S126.154,46.455,118.277,44.774z M117.633,78.005c-3.504-0.457-6.361-5.344-6.361-10.914
                	c0-5.568,2.857-9.656,6.361-9.133c3.483,0.521,6.288,5.398,6.288,10.901C123.921,74.362,121.116,78.458,117.633,78.005z"/>
                <path id="Shutter" fill="#FFFFFF" d="M119.007,68.064c0,1.229-0.626,2.141-1.402,2.04l0,0c-0.779-0.103-1.419-1.192-1.419-2.435l0,0
                	c0-1.242,0.64-2.153,1.419-2.037l0,0C118.381,65.75,119.007,66.837,119.007,68.064L119.007,68.064z"/>
                </svg>

            </div>
            <div class="col-md-8">
                <h1>Photo-o-matic € 299,-</h1>

                <p class="lead">Het leukste foto apparaat op een feestje.</p>

                <p>Druk op de knop, beeldscherm wordt zwart, de lampen gaan knipperen, BANG, je foto is klaar. Daarna
                    komen alle gemaakte foto's voorbij, net zo lang tot er weer een foto wordt gemaakt.</p>
                <a href="#tarieven" class="btn btn-default">Bestel</a>
            </div>
        </div>
    </div>
</div>