{% assign navurl = page.url | remove: 'index.html' %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{{site.baseurl}}">
            <i class="fa fa-camera"></i> Photo-o-matic
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            {% for item in include.nav %}
            {% if item.url == navurl %}
            <li class="active">
                {% else %}
            <li>
                {% endif %}
                <a class="page-link" href="{{ page.baseurl | replace:'index.html',''}}/#{{ item.hook }}">
                    {% if item.hook == navurl %}
                    <b>{{ item.text }}</b>
                    {% else %}
                    {{ item.text }}
                    {% endif %}
                </a>
            </li>
            {% if item.subitems and navurl contains item.url %}
            {% include nav.html nav=item.subitems %}
            {% endif %}
            {% endfor %}
        </ul>

        <!--<ul class="nav navbar-nav navbar-right">-->

        <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Extra-->
        <!--<span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu" role="menu">-->
        <!--<li><a href="/extra">Techniek</a></li>-->
        <!--<li class="divider"></li>-->
        <!--<li><a href="/extra">Handige links</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->

    </div>
</nav>
