<div class="wrapper wrapper-blue">
    <div class="container" id="tarieven">
        <div class="row center-md">
            <div class="col-md-12 text-white">
                <h1>Tarieven</h1>
            </div>
        </div>
        <div class="row center-md">
            <div class="col-xs-12 col-md-12 text-white">
                <p class="lead">Het huren van de Photo-o-matic gaat per dag. Op die dag kun je onbeperkt foto's maken
                    tot in de late
                    uurtjes. Dat is eigenlijk ook het leukst :)</p>
                <p>Gratis donatie aan <a href="#kiva">Kiva</a> & <a href="#rpi">Raspberry Pi Foundation</a></p>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h3 class="center-heading">All inclusive € 299,- <i class="fa fa-star pull-right"></i></h3>

                        <p>Waarom zouden we moeilijk doen op een feestje? Geen ingewikkelde Up-sell methodes of rare
                            voorwaarden. Een feestje is plezier maken! Daarom krijg je bijna alles cadeau.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check text-green"> </i> Brengen & ophalen ( Randstad )</li>
                            <li><i class="fa fa-check text-green"> </i> Onbeperkt foto's maken</li>
                            <li><i class="fa fa-check text-green"> </i> Geen tijdslimiet</li>
                            <li><i class="fa fa-check text-green"> </i> € 45,- donatie aan <a href="#kiva">Kiva</a></li>
                            <li><i class="fa fa-check text-green"> </i> € 5,- donatie aan <a href="#rpi">Raspberry Pi foundation</a></li>
                            <li><i class="fa fa-check text-green"> </i> Snorren & Hipster baarden</li>
                            <li><i class="fa fa-check text-green"> </i> Brillen</li>
                            <li><i class="fa fa-check text-green"> </i> Pruiken</li>
                        </ul>
                        <a class="btn btn-yellow btn-lg btn-block"
                           href="mailto:{{site.email}}">Deze wil
                            ik!</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="panel panel-default">

                    <div class="panel-body">
                        <h3 class="center-heading">Half pension € 199,-</h3>

                        <p>Gewoon lekker goedkoop, zelf even met de auto in Amsterdam de spullen ophalen en weer optijd
                            thuis brengen.</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-check text-green"> </i> Onbeperkt foto's maken</li>
                            <li><i class="fa fa-check text-green"> </i> Geen tijdslimiet</li>
                            <li><i class="fa fa-check text-green"> </i> € 45,- donatie aan <a href="#kiva">Kiva</a></li>
                            <li><i class="fa fa-check text-green"> </i> € 5,- donatie aan <a href="rpi">Raspberry Pi foundation</a></li>
                            <li><i class="fa fa-check text-green"> </i> Snorren & Hipster baarden</li>
                            <li><i class="fa fa-check text-green"> </i> Brillen</li>
                            <li><i class="fa fa-check text-green"> </i> Pruiken</li>
                        </ul>
                        <a class="btn btn-yellow btn-lg btn-block"
                           href="mailto:{{site.email}}">Deze wil ik!</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" id="kiva">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Kiva ?</h3>

                        <p>Elke keer als de Photo-o-matic wordt verhuurd, doneren wij <strong>€ 50,-</strong> aan Kiva.
                            Omdat wij het belangrijk vinden dat andere mensen ook een kans krijgen. Kijk zelf ook even
                            bij
                            <a href="http://www.kiva.org/">Kiva</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12" id="rpi">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Raspberry pi?</h3>

                        <p>Het hart van de photo-o-matic is een super mini computer, samen met nog wat kabels en andere hardware. De raspberry pi is een goedkope computer
                            die toegankelijk is voor iedereen, met behulp van donaties krijgen anderen ook toegang tot ict. Dat is belangrijk.
                            <a href="http://www.raspberrypi.org/">Raspberry pi</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>