<div class="wrapper">
    <div class="container" id="techniek">
        <div class="col-md-6">
            <h1>Techniek</h1>

            <h3>Computer</h3>
            <h4>Raspberry pi</h4>

            <p>Het hart van de machine is een Raspberry PI, de mini computer die alles kan. Met deze computer wordt
                alles bestuurd: lampen, camera, knoppen, slideshow, twitter.</p>
            <h4>PiFace</h4>

            <p>De raspberry pi doet veel werk, zonder de PiFace was dit allemaal niet mogelijk. De PiFace regelt alle
                input en output van de Photo-o-matic. Relays omschakelen
                , informatie over de knoppen doorgeven etc.</p>
            <h4>Relay board</h4>

            <p>We maken gebruikt van verschillende stroombronnen, veiligheid is dan ook belangrijk. Hiervoor gebruiken
                we een 5 Volt switching relayboard. Mocht er een vonk willen
                oversprinten, dan gebeurd dit alleen hier. Alle componenten zijn electrisch van elkaar gescheiden.</p>
            <h4>Camera</h4>

            <p>De 5 Mega pixel camera zit direct aan de raspberry pi en is verwerkt in het armatuur.</p>

            <h3>Lamp</h3>

            <p>Helaas kun je deze lamp niet in de winkel kopen, je maakt hem gewoon zelf.</p>
            <h4>LED</h4>

            <p>Deze bestel je inline bij: DX.com. 54 Volt & 34 Volt.</p>
            <h4>DC/DC converter</h4>

            <p>Beide leds hebben een een eigen converter die precies de hoeveelheid stroom afgeeft voor de LED.</p>
            <h4>Armatuur</h4>

            <p>Het armatuur van de lamp kun je zelf uit laten snijden bij Cutcompany. Templates zijn gemaakt in
                Illustrator en 1:1 in PDF aangeleverd. </p>
            <h4>Statief</h4>

            <p>Hoe kun je de lamp verstellen? Een simple statief kopje van DX.com De binnemaat is M6, waardoor je
                makkelijk het armatuur aan de kop kunt bevestigen.</p>
        </div>
    </div>
</div>