<div class="wrapper">
    <div class="container" id="uitleg">
        <div class="row center-md">
            <div class="col-xs-12 col-md-6">
                <h1>Uitleg</h1>
                <p>
                    De photo-o-matic is een Photobooth waar je <strong>onbeperkt</strong> foto's mee kunt maken op je feestje, fuif, bruiloft of welk gezellig samenzijn dan ook.
                </p>
                <p>De bediening is zoals we dat noemen "Monkey proof". Druk op de knop en het feest gaat beginnen. Lampen knipperen en BANG je foto is klaar.</p>
                <p>Je kunt je foto dan 10 seconden bekijken, daarna komen alle eerder gemaakte foto's van je feest voorbij op het beeldscherm, net zolang tot iemand weer op de knop drukt.</p>

                <h3>Waar blijven al die foto's?</h3>
                <p>Gewoon op de USB stick die je na het feestje mee naar huis kunt nemen. Je kunt de foto's automatisch via Twitter® laten versturen.</p>


            </div>
            <div class="col-xs-12  col-md-6">
                <div class="well">
                    <img class="img-responsive" src="assets/images/2015-03-17_11.43.49.png" alt="Photo-o-matic casing example"/>
                </div>

            </div>

        </div>
    </div>

</div>
