<div class="wrapper wrapper-ice-light">
    <div class="container" id="voorbeelden">
        <div class="row center-md">
            <div class="col-md-12">
                <h1>Voorbeelden</h1>
                <ul class="img-grid">
                     <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-05-4511.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-05-4702.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-05-5026.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-06-1634.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-06-3923.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-06-4142.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/photo-o-matic-2015-03-21-07-3120.jpg" class="img-responsive img-rounded"/></li>
                    <li><img src="/assets/images/examples/voorbeeld.jpg" class="img-responsive img-rounded"/></li>
                </ul>
            </div>
        </div>


    </div>
</div>