---
layout: default
title: Blog
permalink: /blog/
---


<h1>Articles</h1>


{% for post in site.posts %}
<a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item list-group-item-post">
    <h4 class="list-group-item-heading">{{ post.title }}</h4>
    <p>
        <em>{{ post.date | date: "%b %-d, %Y" }}</em>
    </p>
    <p class="list-group-item-text">
        {{ post.excerpt }}
    </p>
</a>

{% endfor %}

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
