---
layout: default
---
<article>
  <header>
    <h2>{{ page.title }}</h2>

    <p>
        <small>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</small>
    </p>

  </header>

  <section>
  {{ content }}
  </section>

</article>

<div class="col-md-4">
{% for category_name in page.categories  %}
    <h4>Related articles in {{ category_name }}</h4>
    <ul class="list-unstyled">
        {% for post in site.categories[category_name] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
</div>
